<section id="ranking">
	<div class="container">
		<div style="width:160px; height:70px; border-color:#3369D4" class="panel panel-default">
			<div class="panel-body">
				<p style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size:30px; font-weight:bold; color:#3369D4" class="week">WEEK 14</p>
			</div>
		</div>
		<ul class="nav nav-tabs">
	        <li class="active"><a href="#tab1" data-toggle="tab">Quarter Backs</a></li>
	        <li><a href="#tab2" data-toggle="tab">Wide Recievers</a></li>
	        <li><a href="#tab3" data-toggle="tab">Running Backs</a></li>
	        <li><a href="#tab4" data-toggle="tab">Tight Ends</a></li>
	        <li><a href="#tab5" data-toggle="tab">Defenses</a></li>
	        <li><a href="#tab6" data-toggle="tab">Kickers</a></li>
	    </ul>
		<div class="tab-content">
            <div class="tab-pane active" id="tab1">
				<table class="table table-striped">
			    <thead>
			    	<tr>
			    		<th>Rank</th>
			    		<th>Player</th>
			    		<th><a ng-click="qbfilter('Avg')">Average</a></th>
			    		<th><a ng-click="qbfilter('Jason')">Jason</a></th>
			    		<th><a ng-click="qbfilter('Jack')">Jack</a></th>
			    		<th><a ng-click="qbfilter('Amoni')">Amoni</a></th>
			    		<th><a ng-click="qbfilter('Eddie')">Eddie</a></th>
			    		<th><a ng-click="qbfilter('Nick')">Nick</a></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="qb in qbs">
			    		<td>{{ qb.Rank }}</td>
			    		<td>{{ qb.Player }}</td>
			    		<td>{{ qb.Avg }}</td>
			    		<td>{{ qb.Jason }}</td>
			    		<td>{{ qb.Jack }}</td>
			    		<td>{{ qb.Amoni }}</td>
			    		<td>{{ qb.Eddie }}</td>
			    		<td>{{ qb.Nick }}</td>
			    	</tr>
			    </tbody>
			    </table>
                
            </div>
            <div class="tab-pane" id="tab2">
				<table class="table table-striped">
			    <thead>
			    	<tr>
			    		<th>Rank</th>
			    		<th>Player</th>
			    		<th><a ng-click="wrfilter('Avg')">Average</a></th>
			    		<th><a ng-click="wrfilter('Jason')">Jason</a></th>
			    		<th><a ng-click="wrfilter('Jack')">Jack</a></th>
			    		<th><a ng-click="wrfilter('Amoni')">Amoni</a></th>
			    		<th><a ng-click="wrfilter('Eddie')">Eddie</a></th>
			    		<th><a ng-click="wrfilter('Nick')">Nick</a></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="wr in wrs">
			    		<td>{{ wr.Rank }}</td>
			    		<td>{{ wr.Player }}</td>
			    		<td>{{ wr.Avg }}</td>
			    		<td>{{ wr.Jason }}</td>
			    		<td>{{ wr.Jack }}</td>
			    		<td>{{ wr.Amoni }}</td>
			    		<td>{{ wr.Eddie }}</td>
			    		<td>{{ wr.Nick }}</td>
			    	</tr>
			    </tbody>
			    </table>
                
            </div>
            <div class="tab-pane" id="tab3">
				<table class="table table-striped">
			    <thead>
			    	<tr>
			    		<th>Rank</th>
			    		<th>Player</th>
			    		<th><a ng-click="rbfilter('Avg')">Average</a></th>
			    		<th><a ng-click="rbfilter('Jason')">Jason</a></th>
			    		<th><a ng-click="rbfilter('Jack')">Jack</a></th>
			    		<th><a ng-click="rbfilter('Amoni')">Amoni</a></th>
			    		<th><a ng-click="rbfilter('Eddie')">Eddie</a></th>
			    		<th><a ng-click="rbfilter('Nick')">Nick</a></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="rb in rbs">
			    		<td>{{ rb.Rank }}</td>
			    		<td>{{ rb.Player }}</td>
			    		<td>{{ rb.Avg }}</td>
			    		<td>{{ rb.Jason }}</td>
			    		<td>{{ rb.Jack }}</td>
			    		<td>{{ rb.Amoni }}</td>
			    		<td>{{ rb.Eddie }}</td>
			    		<td>{{ rb.Nick }}</td>
			    	</tr>
			    </tbody>
			    </table>
                
            </div>
            <div class="tab-pane" id="tab4">
				<table class="table table-striped">
			    <thead>
			    	<tr>
			    		<th>Rank</th>
			    		<th>Player</th>
			    		<th><a ng-click="tefilter('Avg')">Average</a></th>
			    		<th><a ng-click="tefilter('Jason')">Jason</a></th>
			    		<th><a ng-click="tefilter('Jack')">Jack</a></th>
			    		<th><a ng-click="tefilter('Amoni')">Amoni</a></th>
			    		<th><a ng-click="tefilter('Eddie')">Eddie</a></th>
			    		<th><a ng-click="tefilter('Nick')">Nick</a></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="te in tes">
			    		<td>{{ te.Rank }}</td>
			    		<td>{{ te.Player }}</td>
			    		<td>{{ te.Avg }}</td>
			    		<td>{{ te.Jason }}</td>
			    		<td>{{ te.Jack }}</td>
			    		<td>{{ te.Amoni }}</td>
			    		<td>{{ te.Eddie }}</td>
			    		<td>{{ te.Nick }}</td>
			    	</tr>
			    </tbody>
			    </table>
                
            </div>
            <div class="tab-pane" id="tab5">
				<table class="table table-striped">
			    <thead>
			    	<tr>
			    		<th>Rank</th>
			    		<th>Player</th>
			    		<th><a ng-click="deffilter('Avg')">Average</a></th>
			    		<th><a ng-click="deffilter('Jason')">Jason</a></th>
			    		<th><a ng-click="deffilter('Jack')">Jack</a></th>
			    		<th><a ng-click="deffilter('Amoni')">Amoni</a></th>
			    		<th><a ng-click="deffilter('Eddie')">Eddie</a></th>
			    		<th><a ng-click="deffilter('Nick')">Nick</a></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="def in defs">
			    		<td>{{ def.Rank }}</td>
			    		<td>{{ def.Player }}</td>
			    		<td>{{ def.Avg }}</td>
			    		<td>{{ def.Jason }}</td>
			    		<td>{{ def.Jack }}</td>
			    		<td>{{ def.Amoni }}</td>
			    		<td>{{ def.Eddie }}</td>
			    		<td>{{ def.Nick }}</td>
			    	</tr>
			    </tbody>
			    </table>
                
            </div>
            <div class="tab-pane" id="tab6">
				<table class="table table-striped">
			    <thead>
			    	<tr>
			    		<th>Rank</th>
			    		<th>Player</th>
			    		<th><a ng-click="kfilter('Avg')">Average</a></th>
			    		<th><a ng-click="kfilter('Jason')">Jason</a></th>
			    		<th><a ng-click="kfilter('Jack')">Jack</a></th>
			    		<th><a ng-click="kfilter('Amoni')">Amoni</a></th>
			    		<th><a ng-click="kfilter('Eddie')">Eddie</a></th>
			    		<th><a ng-click="kfilter('Nick')">Nick</a></th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="k in ks">
			    		<td>{{ k.Rank }}</td>
			    		<td>{{ k.Player }}</td>
			    		<td>{{ k.Avg }}</td>
			    		<td>{{ k.Jason }}</td>
			    		<td>{{ k.Jack }}</td>
			    		<td>{{ k.Amoni }}</td>
			    		<td>{{ k.Eddie }}</td>
			    		<td>{{ k.Nick }}</td>
			    	</tr>
			    </tbody>
			    </table>
                
            </div>
        </div>
	</div>
</section>