<div id="my-slider" class="carousel slide" data-interval="4000" data-ride="carousel">
	
<!-- indicators dot nav -->
<ol class="carousel-indicators">
	<li data-target="#my-slider" data-slide-to="0" class="active"></li>
	<li ng-repeat="num in dots" data-target="#my-slider" data-slide-to="{{ num }}"></li>
</ol>

<!-- wrapper for slides -->
<div class="carousel-inner" role="listbox">
	<div class="item active">
		<center>
			<a ui-sref="article({ articleId:welcome.id })"><img height="400" width="400" src="{{ welcome.Image }}"></a>
			<div class="carousel-caption">
				
			</div>
		</center>
	</div>
	<div ng-repeat="article in cArticles" class="item">
		<center>
			<img height="400" width="600" ng-src="{{ article.Image }}">
			<div class="carousel-caption">
				<a style="color:white;" ui-sref="article({ articleId:article.id })"><h1>{{ article.Title }}</h1></a>
			</div>
		</center>
	</div>
</div>


<!-- controls -->
<a class="left carousel-control" href="#my-slider" role="button" data-slide="prev">
	<span style="color:black;" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</a>
<a id="start" class="right carousel-control" href="#my-slider" role="button" data-slide="next">
	<span style="color:black;" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</a>

</div>