<section id="home">

	<div ng-controller="homeCtrl" class="container">
		<div class="column row">
			<div class="col-lg-9">
				<carousel></carousel>

				<div class="list-group">
				  <a ui-sref="article({ articleId:article.id })" ng-repeat="article in articles" class="list-group-item">
				    <h4 class="list-group-item-heading">{{ article.Title }}</h4>
				    <p class="list-group-item-text">By: {{ article.Author }}</p>
				  </a>
				</div>


			</div>

			<!-- TOP 10 -->
			<div class="col-lg-3">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Top 10 Fantasy Players of the Week</div>
				  <div class="panel-body">
				    <p>If these players work out for you send us a thanks, if not still send us a thanks!</p>
				  </div>

				  <!-- Table -->
				  <table class="table">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Player</th>
				            <th>Opp</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="item in list">
				            <td>{{ item.Num }}</td>
				            <td>{{ item.Player }}</td>
				            <td>{{ item.Opp }}</td>
				        </tr>
				    </tbody>

				  </table>
				</div>
			</div>
			
		</div>
	</div>

</section>
