<section id="admin">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img style="width:300px;height:300px;" src="images/articles.png">
          <div class="caption">
            <h3>Articles</h3>
            <p>Post an article about whatever you want! SPELLCHECK FIRST!!! Maybe double check with out english expert Amoni Wells a.k.a Amoni Tsunami a.k.a Amoni Chobani</p>
            <center> <p><a ui-sref="articlePost" class="btn btn-primary" role="button">POST ARTICLE</a></p> </center>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img style="width:300px;height:300px;" src="images/top-10.jpg">
          <div class="caption">
            <h3>Top 10</h3>
            <p>Change the Top 10 on the home page</p>
            <center> <p><a ui-sref="top10Change" class="btn btn-primary" role="button">CHANGE TOP 10</a></p> </center>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img style="width:300px;height:300px;" src="images/playerrankings.png">
          <div class="caption">
            <h3>Rankings</h3>
            <p>Change the rankings of players at different positions</p>
            <center> <p><a ui-sref='rankingsChange' class="btn btn-primary" role="button">CHANGE RANKINGS</a></p> </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
