<section id="article">
	<div class="container">
		<ul class="list-group">
			  <li class="list-group-item">
	  			<center>
		  			<img ng-src="{{ article.Image }}"/>
		  			<h1>{{ article.Title }}</h1>
		  			<a ui-sref="articleList({ author:article.Author })"><h4>{{ article.Author }}</h4></a>
		  			<p>{{ article.Date }}</p>
	  			</center>
	  			<hr>
	  			<div ng-repeat="section in sections" >
	  				<div ng-repeat="art in section">
	  					<p>{{ art }}</p>
	  				</div>
	  				<br/>
	  			</div>
			  </li>
		</ul>

	</div>
</section>
